body{

}
.xnmap-tooltip p,.xnmap-label p{
    margin:0;
    line-height: 1.4;
}
.xnmap-label{
    position: absolute;
    color: #fff;
    background: blue;
    pointer-events: none;
    font-size: 16px;
    padding:4px 6px;
}
